.App {
  text-align: center;
  background: white;
  color: black;
  min-height: 98vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(39, 39, 39);
}

.App-link {
  color: #61dafb;
}

.i-btn {
  width: 40vw;
  min-width: 200px;
}

.i-loading-frame {
  background-color: white; 
  width: 90vw;
  max-width: 500px;
  margin: 10% auto;
  border: 1px solid #f1f1f1; 
  border-radius: 5px;
  box-shadow: 1px 2px 5px #f1f1f1;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
